*,


h1 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.search-recipes {
  padding: 10px;
  border-radius: 4px;
  text-align: center;
.image-container {
    max-height: 150px;
}

.form {
  margin: 10px 0;
  padding: 10px;
}

.pure-button{
  
}


.image-container {
  max-height: 150px;
}

img {
  max-height: 150px;
}
